@use "./base" as *;
@use "./layout" as *;
@use "./abstracts" as *;

:root {
	--primary-black: #{$primary-black};
	--primary-white: #{$primary-white};
	--primary-neutral: #{$primary-neutral};

	--zinc-100: #{$zinc-100};
	--zinc-200: #{$zinc-200};
	--zinc-300: #{$zinc-300};
	--zinc-500: #{$zinc-500};
	--zinc-800: #{$zinc-800};

	--error-red: #{$error-color};
}

/* Header */
.header {
	padding: 1.6rem 0;
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 1.2rem;

	&__img {
		width: 5rem;
		height: 5rem;
		object-fit: cover;
	}

	&__name {
		color: var(--primary-black);

		font: {
			size: 2rem;
			weight: 700;
		}

		line-height: 1.2;
		letter-spacing: -0.04rem;
	}
}

.navbar--mobile {
	margin-top: 1.6rem;
}

.navbar-item {
	margin-left: -2rem;

	&:active,
	&:hover {
		background: var(--zinc-200);
	}

	&__link {
		@extend .logo__name;
		padding: 2rem;
		font-weight: 500;
		display: block;
	}
}

/* Header mobile */
.menu-overlay {
	position: fixed;
	inset: 0;
	background: rgba($color: $primary-black, $alpha: 0.3);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}

.menu-drawer {
	position: fixed;
	inset: 0 30% 0 0;
	padding: 2rem 0 0 2rem;
	background: $primary-white;
	translate: -100% 0;
	transition: 0.3s ease;
	z-index: 1;

	.resume-btn {
		margin-top: 1.6rem;
	}
}

.menu-checkbox:checked ~ .menu-overlay {
	opacity: 1;
	visibility: visible;
}

.menu-checkbox:checked ~ .menu-drawer {
	translate: 0 0;
}

/* Hero */
.hero {
	margin-top: 1.8rem;
	padding: 4rem 0;

	&__img {
		width: 100%;
	}

	&__heading {
		position: relative;
		margin-top: 4.8rem;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}

	&__desc {
		margin-top: 3.2rem;
	}

	&__socials {
		margin-top: 3.6rem;
		display: flex;
		align-items: center;
		column-gap: 3rem;

		&-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem 1.2rem;
			border-radius: 0.4rem;
			border: 0.2rem solid var(--primary-black);
			color: var(--primary-black);

			&:hover {
				color: var(--primary-white);
				background: var(--primary-black);
				cursor: pointer;
			}
		}

		&-img {
			width: 3rem;
			height: 3rem;
			line-height: 2;
			font-weight: 800;
		}
	}
}

/* Skills */
.skills {
	margin-top: 5rem;
	padding: 4rem 0;

	&__list {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	&-item {
		@extend .hero__socials-wrap;
		flex-direction: column;
		justify-content: flex-end;
		padding: 2.4rem;

		&:hover &__label {
			color: var(--primary-white);
		}

		&__label {
			margin-top: 3.2rem;
			text-align: center;
			@extend .logo__name;
		}
	}
}

/* Experience */
.experience {
	padding: 6rem 0 4rem;
	background: var(--primary-black);

	.text-style__1,
	.text-style__2 {
		color: var(--primary-white);
	}

	&__list {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	&-item {
		padding: 3rem 2.4rem;
		border: 0.2rem solid var(--zinc-500);
		border-radius: 1rem;

		&:hover {
			background: var(--zinc-800);
		}

		&__title {
			@extend .logo__name;
			font-weight: 600;
			color: var(--primary-white);
		}

		&__timeline {
			margin-top: 3rem;
			color: var(--Zinc-300, #d4d4d8);
			font-weight: 600;
			line-height: 1.25;
			letter-spacing: -0.032rem;
		}

		&__content {
			margin-top: 2.8rem;
			color: var(--zinc-300);
			line-height: 1.5;
			letter-spacing: 0.032rem;
		}
	}
}

/* About */
.about {
	margin-top: 4.4rem;

	&__img-wrap {
		text-align: center;
	}

	img {
		border-radius: 50%;
		object-fit: contain;
	}

	&__heading {
		margin-top: 4rem;
		margin-bottom: 2rem;
	}

	&__desc {
		margin-top: 2rem;
		text-align: initial;
	}

}
