@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wow {
  visibility: visible;
}

.wow.fadeInUp {
  animation-name: fadeInUp;
}

.wow.fadeIn {
  animation-name: fadeIn;
}

.wow {
  animation-duration: 1s;
  animation-fill-mode: both;
}

[data-wow-delay] {
  animation-delay: var(--wow-delay);
}

[data-wow-duration] {
  animation-duration: var(--wow-duration);
}
