* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Faustina", "Dancing Script", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	scroll-behavior: smooth;
	text-align: justify;
}

:root {
	--dark-blue: #fff;
	--text-color: #595959;
	--body-color: #dedede;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Centering the loading screen */
#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000; /* Ensure it’s on top */
}

/* Loader animation */
.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

/* Keyframes for spinning animation */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Show content and hide loader after loading */
#content {
	display: block;
}

body {
	padding: 0 18px;
	font-size: 1.6rem;
	/* background: var(--body-color); */
	background-image: linear-gradient(
		135deg,
		hsl(240deg 100% 20%) 0%,
		hsl(281deg 100% 21%) 8%,
		hsl(304deg 100% 23%) 17%,
		hsl(319deg 100% 30%) 25%,
		hsl(329deg 100% 36%) 33%,
		hsl(336deg 100% 41%) 42%,
		hsl(346deg 83% 51%) 50%,
		hsl(3deg 95% 61%) 58%,
		hsl(17deg 100% 59%) 67%,
		hsl(240deg 100% 20%) 0%,
		hsl(281deg 100% 21%) 8%,
		hsl(319deg 100% 30%) 25%
	);
}

/* Common */

a {
	text-decoration: none;
}

.main-content {
	width: 900px;
	max-width: calc(100% - 48px);
	margin-left: auto;
	margin-right: auto;
}

.lv2 {
	color: var(--dark-blue);
	font-size: 10rem;
	font-weight: 800;
	line-height: 1.16; /* 116% */
}

.desc {
	margin-top: 32px;
	color: #fff;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 1.83; /* 183.333% */
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: var(--line-clamp, 1);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.hide-show {
	opacity: 0; /* Initial hidden state */
	transform: translateY(20px); /* Initial position */
	transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth animation */
}

.hide-show.show {
	opacity: 1; /* Reveal */
	transform: translateY(0); /* Move to original position */
}

#scrollToTopBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 15px;
	font-size: 18px;
	background-color: #fff;
	color: #190068;
	border: none;
	cursor: pointer;
	display: none; /* Initially hidden */
	transition: opacity 0.3s ease;
	border-radius: 8px;
}

#scrollToTopBtn.show {
	display: block;
	opacity: 0.8;
}

#scrollToTopBtn:hover {
	opacity: 1;
}

/* === END COMMON === */

.container,
.mobile-message {
	display: none; /* Hide mobile message by default */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
	.wrapper {
		display: none;
	}

	body {
		width: calc(100vw - 50px);
		background: #fff;
		margin-left: auto;
		margin-right: auto;
	}

	.container,
	.mobile-message {
		display: block; /* Show mobile message on smaller screens */
	}

	.mobile-message {
		font-size: 2rem;
		line-height: 1.4;
		font-weight: 600;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100vh;
	}

	.mobile-img {
		margin-top: 18px;
		width: 100%;
		height: 500px;
		object-fit: cover;
		border-radius: 8px;
	}

	.mobile-link {
		color: #000;
		margin-top: 18px;
		display: inline-block;
		text-decoration: underline;
	}
}

.header {
	padding-top: 28px;
	display: flex;
	align-items: center;
}

.header__image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__image--author {
	color: var(--dark-blue);
	font-size: 2rem;
	padding: 16px 0;
}

.header__logo {
	width: 38px;
	height: 38px;
}

.nav {
	margin-left: auto;
}

.nav ul {
	display: flex;
}

.nav li a {
	font-size: 1.8rem;
	color: var(--dark-blue);
	padding: 8px 16px;
}

.nav li a:hover {
	text-decoration: underline;
}

/* === HERO === */
.hero {
	margin-top: 130px;
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}

.hero__info {
	color: var(--dark-blue);
	width: 25%;
}

.hero__info--greeting {
	font-size: 2.8rem;
	font-weight: 600;
}

.hero__info--title {
	margin: 16px 0;
	font-size: 10rem;
	font-weight: 900;
}

.hero__info--location {
	margin-top: 10px;
	font-size: 2.8rem;
	font-weight: 500;
}

.hero__info--btn {
	word-break: break-all;
	position: relative;
	color: #190068;
	margin-top: 38px;
	font-size: 2rem;
	padding: 20px 45px;
	display: flex;
	align-items: center;
	font-weight: 500;
	border-radius: 6px;
	border: 2px solid var(--dark-blue);
	display: inline-block;
	text-align: center;
}

.hero__info--btn:hover {
	/* color: #000; */
	border: 2px solid var(--dark-blue);
}

.hero__info--btn::after {
	position: absolute;
	content: "";
	display: inline-block;
	width: 158px;
	height: 61px;
	background: var(--dark-blue);
	top: 7px;
	left: 7px;
	right: 0;
	border-radius: 6px;
	z-index: -1;
}

.hero__info--btn:hover:after {
	top: 0;
	left: 0;
	transition: all ease 0.3s;
	background: var(--dark-blue);
	opacity: 0.9;
}

.hero__image {
	width: 45%;
	position: relative;
}

.hero__image--name,
.hero__image img {
	position: absolute;
}

.hero__image--name {
	font-family: "Dancing Script";
	left: 120px;
	top: 70px;
	background: var(--dark-blue);
	color: #190068;
	padding: 8px 16px;
	border-radius: 999px;
	font-size: 1.8rem;
	font-weight: bold;
}

.hero__image--three-plus {
	position: absolute;
	right: -81px;
	top: -20px;
	color: var(--dark-blue);
}

.hero__image--circle {
	position: absolute;
	width: 400px;
	right: -125px;
	top: -20px;
	z-index: -1;
	border-radius: 50%;
	color: #fff;
}

.hero__image--three-slash {
	position: absolute;
	bottom: 106px;
	right: 180px;
	top: 300px;
	color: var(--dark-blue);
}

.hero__image--avatar {
	width: 300px;
	max-width: 100%;
	display: block;
	position: relative;
	top: -80px;
	right: -65px;
}

/* === ABOUT === */
.about {
	margin-top: 271px;
}

.about-list {
	display: flex;
	flex-direction: column;
	gap: 80px 0;
	margin: 145px 0 0 150px;
}

.about-item__event {
	position: relative;
	color: var(--dark-blue);
	font-weight: bolder;
	font-size: 2.4rem;
	line-height: 1.66; /* 166.667% */
}

.about-item__event::before {
	position: absolute;
	left: -28px;
	bottom: 11px;
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: var(--dark-blue);
}

.about-item__desc {
	margin-top: 10px;
}

/* === BLOG === */
.blog {
	margin-top: 183px;
}

.blog-list {
	margin-top: 124px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 50px 80px;
}

.blog-item {
	padding: 20px 16px;
	cursor: pointer;
	word-break: break-word;
	display: block;
}

.blog-item:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: all ease 0.3s;
	transform: scale(1.02); /* Optional: subtle scale for better effect */
}

.blog-item__thumb {
	max-width: 100%;
	height: 300px;
	object-fit: cover;
}

.blog-info__date {
	color: #fff;
	font-size: 1.4rem;
	font-style: italic;
	font-weight: 400;
	line-height: 2.93; /* 293.333% */
	font-weight: bolder;
}

.blog-info__heading {
	color: #fff;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 1.83; /* 183.333% */
}

.blog-info__desc {
	color: #fff;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.77; /* 177.778% */
}

.blog-item__btn {
	margin-top: 18px;
	font-size: 2rem;
	font-weight: 600;
	text-decoration: underline;
	color: #fff;
	display: inline-block;
}

/* === CONTACT === */
.contact {
	margin: 124px auto 96px;
}

.contact__content {
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.contact-list {
	margin-left: 50px;
	width: 50%;
}

.contact__content--img {
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 10px;
}

.contact__heading {
	color: #fff;
}

.contact-list__desc {
	margin: 0;
	color: #fff;
}

.contact-list__group {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	gap: 18px 0;
}

.contact-list__group strong {
	font-weight: 600;
}

.contact-list__group a {
	font-size: 1.8rem;
	color: #fff;
	margin-top: 18px;
}

.footer a,
.footer {
	font-size: 1.8rem;
	color: #fff;
	text-align: center;
	padding-bottom: 50px;
}

.footer a {
	text-decoration: underline;
}