input,
select,
textarea,
button {
	font-size: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
}

html {
	font-size: 62.5%;
	font-family: "Sora", system-ui;
}

body {
	font-size: 1.6rem;
}